{
  "extends": [
    "airbnb",
    "plugin:jest/recommended",
    "prettier",
  ],
  "plugins": [
    "jest",
    "prettier",
  ],
  "env": {
    "node": true
  },
  "rules": {
    "prettier/prettier": ["error"],
  }
}
  